{# src/Cooker/CookingBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
    Búsqueda avanzada:
	<form class="search">

	<input type="search" name="Search" id="search" placeholder="Introduzca texto">
	<input type="button" value="Buscar">

	</form>
{% endblock %}
