{# src/Cooker/CookingBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
    B&uacutesqueda avanzada:
	<form class="search">

	<input type="search" name="Search" id="search" placeholder="Introduzca texto">
	<input type="button" value="Buscar">

	</form>

	<ul id="redes">
		<li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
		<li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
		<li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
	</ul>
{% endblock %}
