{# src/Cooker/CookingBundle/Resources/views/Comentario/form.html.twig #}

<form action="{{ path('cooker_comentario_create', { 'receta_id' : comentario.receta.id } ) }}" method="post" {{ form_enctype(form) }} class="cooker">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Enviar">
    </p>
</form>
