{# src/Cooker/CookingBundle/Resources/views/Cook/contact.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}

{% block title %}Contacto{% endblock%}

{% block body %}
    <header>
        <h1>Contacta conmigo</h1>
    </header>

<form action="mailto:aitorugarte@opendeusto.es" method="post" enctype="text/plain">
  <fieldset>
    <h4>Nombre</h4>
    <input type="text" name="nombre">
    
   <h4>Correo</h4>
    <input type="text" name="correo">
  
    <h4>Mensaje</h4>
    <input type="text" name="mensaje" size="50" style="height:50px">
  </fieldset>

     <div class="button">
        <button type="submit" value="Send">Enviar</button>
    </div>
   
</form>
{% endblock %}
