{# src/Cooker/CookingBundle/Resources/views/Cook/ingredientes.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}{% trans %}Lista de Ingredientes{% endtrans %}{% endblock %}

{% block body %}

<h2>{% trans %}&iquest;Busca alg&uacute;n ingrediente en particular?{% endtrans %}</h2>
<br>
<ul class="lista2">
	{% for ingrediente in ingredientes %}
	<li class="elemento2">
		<h4><a href="{{ path('cooker_cook_showIngr', { 'id': ingrediente.id }) }}">{{ ingrediente.nombre }}</a></h4>
	</li>
	{% endfor %}
</ul>
	{% endblock %}
