{# src/Cooker/CookingBundle/Resources/views/Cook/platos.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}Tipos{% endblock %}

{% block body %}
	
	
	{% for plato in platos %}
	{% set tipo = plato.nombre %}

	<h2>Recetas para el tipo: {{ plato.nombre }}</h2>
	<ul>
	{% for receta in recetas if tipo == receta.tipo_plato.nombre %}

	<li><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">{{ receta.nombre }}</a></li>
	
	{% endfor %}
	</ul>
	{% endfor %}
	

{% endblock %}
